{% extends 'blog/base.html' %}


{% block content %}
<!-- Content -->
<div id="content" class="colM"><!-- colMはいらないのでは -->
<div id="content-main"><!-- いらないのでは -->
<div class="module"><!-- いらないのでは -->
  <a href="{% url 'post_new' %}">新規作成</a>
  <a href="{% url 'post_list_Serch' id='0' %}">未完了</a>
  <a href="{% url 'post_list_Serch' id='1' %}">超過</a>
<table id="change-history"><!--"change-history"消していいのでは？-->
    <thead>
    <tr >
      <th>No</th>
      <th>ToDo</th>
      <th>記入日</th>
      <th>期日</th>
      <th>記入者</th>
      <th>完了日</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
       		 {% for post in posts %}  		 
			     <tr>
			      <td>{{ post.pk }}</td>
			      <td>{{ post.title }}</td>
			      <td>{{ post.created_date }}</td>
			      <td>{{ post.fixed_date }}</td>
			      <td>{{ post.title2 }}</td>
			      <td>{{ post.compleat_date }}</td>
			      <td>
			      <a href="{% url 'post_detail' pk=post.pk %}">詳細</a><!-- 現在はこの行は効いていない -->
			      </td>
    			 </tr>
         	{% endfor %}
     </tbody>
</table>
</div>
</div>
</div>
</div>
{% endblock %}



